
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
} 

html,body  {
  font-size: 16px;          
  scroll-behavior: smooth; 
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;        
  background-color: #f9f9f9;
  color: #333; 
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


img {
  max-width: 100%;
  height: auto;            
  display: block;
}


ul, ol {
  list-style: none;        
}


button {
  cursor: pointer;
  border: none;
  background: none;
}


.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;          
}

.hidden {
  display: none;
}


.headings, {
  display: flex;       /* makes the items sit in a row */
  list-style: none;    /* removes the bullets */
  gap: 10px;           /* space between items */
 

  /* removes default padding */
}

#menu{
 border: 2px solid green;
  padding: 5px 10px;
  border-radius: 50px;
  text-align: center;
}



